.xx-large-font
{
    font-size: 24pt;
}

input {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.data-content
{
    display: inline-block;
    vertical-align: middle;
}

.data-icon-controls
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.icon-controls
{
    width:20%;
    text-align: right;
}

.control-group .control-label{
    display: inline-block;
    vertical-align: top;
}

.control-group controls{
    display: inline-block;
    vertical-align: top;
}

body
{
    padding:0px;
}

li
{
    list-style-type: none;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

label
{
    margin-right: 3pt;
}

div.item
{

}

div.data
{

}

div.content
{

}

.head-title
{
    font-size: large;
    color: #ffffff;
}

.head-subtitle
{
    color: #ffffff;
}

.head-control
{
    cursor: pointer; cursor: hand;
    padding: 4pt;
    height:30px;
    background-color: black;
    border-radius: 5px 20px 5px;
}

div.footer-content
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.footer-content .navbar .navbar-inner .container
{
    width: 100%;
}

div.logo
{
    margin: auto;
    display: inline-block;
}


.logo a img
{
    height: 25px;
    width: 50px;
}
