{{head_class=''}}
{{head_control_class=''}}
{{if item.get('label') is not None and item.get('item') is None:}}
    {{head_class='head-subtitle'}}
    {{head_control_class='head-control'}}
{{pass}}
<div class="control-group {{=head_control_class}}">

    {{if item.get('label') is not None:}}
        <label for="plan" class="control-label {{=head_class}}">
            {{=item.get('label')}}
            {{if item.get('separator') is not None:}}
                {{=item.get('separator')}}
            {{pass}}
        </label>
    {{pass}}
    {{if item.get('item') is not None:}}
        <input id="plan" class="controls" type="text" class="item"  value="{{=item.get('value')}}"/>
    {{pass}}

    {{if item.get('icons') is not None:}}
        <span class="icon-controls pull-right">
            {{for icon in item.get('icons'):}}
             <i class="{{=icon}}"></i>
            {{pass}}
        </span>
    {{pass}}
</div>
